/* .location {
} */

html{
  scroll-behavior: smooth;
}

.location > h5 {
  color: rgb(0, 0, 0);
  font-weight: 800;
  margin-bottom: 6px;
  font-size: 18px;
}

.location > p {
  margin: 0px;
  font-size: 13px;
  font-weight: 400;
}

.vertical-line {
  height: 55px;
  border-left: 1px solid #f2f2f2;
}

.search-div {
  padding: 0px 12px;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 12px;
  background-color: rgb(248, 248, 248);
  color: rgb(130, 130, 130);
}

.search-div > input {
  border: none;
  background-color: transparent;
  width: 40vw;
}

::placeholder {
  font-size: 14px;
  color: rgb(153, 153, 153);
}

.my-cart {
  background-color: #0c831f !important;
  font-size: 14px !important;
}

.my-categories {
  width: 85%;
}

.my-container {
  width: 85%;
  margin: auto;
  overflow-x: scroll;
}

.my-list {
  white-space: nowrap;
}

.my-list > img {
  padding-inline: 8px;
}

::-webkit-scrollbar {
  display: none;
}

.my-card {
  width: 160px;
  margin-inline: 10px;
}

.my-card>img{
  width: 120px;
  height: 120px;

}

.my-card-time {
  width: fit-content;
  height: 10px;
  text-transform: uppercase;
  font-weight: 700px;
  font-size: 9px;
  color: rgb(54, 54, 54);

  border-radius: 4px;
  padding: 0px 4px;
  background-color: rgb(248, 248, 248);
}

.my-card-title {
  color: rgb(31, 31, 31);
  font-weight: 600px;
  font-size: 13px;
}

.my-card-weight{
  font-size: 12px;
  color: #666;
}

.my-card-price{
  color: rgb(31, 31, 31);
    font-weight: 600px;
    font-size: 12px;
    line-height: 11px;
}

.mrp{
  font-size: 12px;
  color: #666;
}

.category-section {
  width: 85%;
  margin: auto;
  /* overflow-x: scroll; */
}

.category-section-row{
  overflow-x: auto;
}

/*footer section*/
footer{
  width: 85%;
  margin: auto;
}

.row-3{
  font-size: 14px;
  color: rgb(102, 102, 102);
  font-family: OKRA-REGULAR;
  line-height: 18px;
  padding: 10px;
  text-align: justify;
}

.row-2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.row-2>p{
  font-size: 12px;
  color: rgb(102, 102, 102);
  font-family: OKRA-REGULAR;
  text-align: justify;
  width: 30%;
}

.my-download>p{
  font-family: Okra;
  color: #666;
  font-weight: 600;
  font-size: 14px;
  margin: 16px;
}

.my-download>img{
  margin: 10px;
}

.my-social{
  display: flex;
  justify-content: space-between;
}

.my-social-btn{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: black;
  color: white;
  font-size: 30px;
  margin-inline: 10px;
}

.row-1{
  display: flex;
  justify-content: space-between;
}

.useful-links{
  flex: 2;
}

.categories-links{
  flex: 3;
}

table{
  width: 100%;
}
td{
  color: #666;
  padding: 3px 10px;
}

.gototop{
  width: 50px; height: 50px;
  position: fixed;
  right: 32px;
  bottom: 16px;
  font-size: 30px;

  text-align: center;
  color:white;
  border-radius: 10%;
  text-decoration: none;
  background-color:  #ec7029;
}

/* Media Query Section */
@media screen and (max-width:768px) {
  nav,.row-1,.row-2{
    flex-direction: column;
  }

  nav{
    margin-top: 8px;
  }

  .vertical-line,.hero>img,.hero{
    display: none;
  }

  .nav-btn,.row-2>p,.search-div{
    width: 90%;
  }

  .row-1>div{
    margin-top: 20px;
  }

  .row-1>div>h5{
    text-align: center;
  }

  td{
    text-align: center;
  }

  .my-social{
    margin-top: 10px;
  }

  nav>button{
    margin-block: 10px;
  }

}